body {
    background-color: beige;
}


header {
    height: 15vh;
    background-color:beige;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    
}
h1 {
    font-family: ANTON;
    padding: 15px;
    margin-left: 12px;
}
nav {
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: black;
}
 
.but {
    background-color: beige;
    border: 3px solid black;
    padding: 15px 25px;
}

main {
    border: 3px solid black;
    margin-top: 2vh;
    background-color: beige;
    height: 80vh;
}

#butt {
    border: 3px solid black ;
    background-color: beige;
    position: absolute;
    top: 57vh;
    left: 26vw;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;

}
